li class="photo-#{photo.id}-block"
  = image_tag(photo.image_url(:thumb), class: "border-rd4 photo-#{photo.id}")
  .functions
    = link_to '設定為特色圖片', photo_set_feature_path(photo), method: :put, remote: true
