#signin-btn-in-nav, #signup-btn-in-nav {
  display: inline-block;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
}

ul.token-input-list-facebook {
  width: 460px;
  border: 1px solid #45484C;
  color: #999;
  background: #1D1F24;
  clear: none;
  li input {
    background-color: #1D1F24;
  }
}
